@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 94%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --primary: 20.2 94.2% 47.6%;
    --primary-foreground: 30 3% 21%;

    --secondary: 30 3% 21%;
    --secondary-foreground: 0 0% 100%;

    --muted: 210 16% 93%;
    --muted-foreground: 210 10% 40%;

    --accent: 30 3% 21%;
    --accent-foreground: 0 0% 100%;

    --destructive: 354 70% 54%;
    --destructive-foreground: 0 0% 100%;

    --hover: 20.2 94.2% 47.6%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --primary: 217 100% 52%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 9% 30%;
    --secondary-foreground: 0 0% 100%;

    --muted: 210 9% 25%;
    --muted-foreground: 210 10% 70%;

    --accent: 204 100% 32%;
    --accent-foreground: 0 0% 100%;

    --destructive: 354 70% 40%;
    --destructive-foreground: 0 0% 100%;

    --border: 210 10% 25%;
    --input: 210 10% 25%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

a.active {
  text-decoration: none;
  text-underline-offset: 30px;
  text-decoration-thickness: 4px;
  transition: text-decoration-color 0.2s ease-in-out;
  color: hsl(var(--hover));
}
